 @import '../../../../scss/variables.scss';


.forward-button {
  padding: 15px 25px;
  font-size: 0.7em;
  user-select: none;
  min-width: 120px;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &:focus {
  outline: none;
}
  @media (max-width: 380.97px) {
    padding: 10px;
  }
}

.black {
  background-color: $onyx;
  color: white;
}

.disabled-bg {
  background-color: gray;
  color: white;
}

.white {
 background-color: white;
  color: $onyx;
}
