@import 'variables.scss';

/* Customize the label (the radio-container) */
.radio-container {
  display: block;
  position: relative;
  margin: 15px 15px 15px 0;
  padding: 0 30px;
  cursor: pointer;
  font-size: $text18;
  line-height: 72px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 270px;
  height: 72px;
  border: 1px solid $border-color;

  @media (max-width: 767.97px) {
    width: 100px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    text-align: center;
    padding: 0;
  }
  @media (min-width: 767.97px) and (max-width: 1023px) {
    width: 250px;
    height: 67px;
    line-height: 67px;
    font-size: 16px;
    padding: 0 30px;
  }
}

.radio-container:first-child {
  @media (max-width: 767.97px) {
    margin-left: 0;
  }
}

/* Hide the browser's default checkbox */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  height: 25px;
  width: 25px;
  color: $light-gray;
  position: absolute;
  right: 15px;
  @media (max-width: 767.97px) {
    display: none;
  }
}

/* On mouse-over, add a grey background color */
.radio-container:hover  {
  border-color: $orange;
}

/* When the checkbox is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  color: $green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.radio-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.friction-custom-select {
  border: 1px solid $border-color;
  border-radius: 0;
  padding: 20px 30px 0 30px;
  height: 72px;

  @media (max-width: 767.97px) {
    height: 44px;
    padding:  5px 10px;
  }
  &:hover {
    border-color: $orange;
  }
  .Select-control {
    border: none !important;
    box-shadow: none !important;
    &:active {
      border: none !important;
      box-shadow: none !important;
  }
    &:focus {
      border: none !important;
      box-shadow: none !important;
  }
    &:hover {
      border: none !important;
      box-shadow: none !important;
  }
    .Select-input {
      input {
        border: none;
      }
    }
  }
}

.friction-custom-select-option {
  color: $gray;
  &:active {

  }
}