footer {
  background-color: #05080c;
  padding-top: 30px;
  padding-bottom: 35px;
  color: white;
  justify-content: center; }
  @media (min-width: 992px) {
    footer {
      padding-top: 100px;
      padding-bottom: 100px; } }
  footer .section {
    padding: 20px; }
    footer .section .title {
      color: #dadfe5;
      margin-bottom: 0; }
  footer .logo {
    display: block; }
    @media (max-width: 992px) {
      footer .logo {
        display: none; } }
