footer {
  background-color: #05080c;
  padding-top: 30px;
  padding-bottom: 35px;
  color: white;
  font-size: 0.6em; }
  @media (min-width: 992px) {
    footer {
      padding-top: 60px;
      padding-bottom: 60px; } }
  @media (max-width: 430px) {
    footer {
      text-align: center; } }
  footer .section {
    padding: 20px; }
    footer .section .title {
      color: #dadfe5;
      margin-bottom: 0; }
  footer .logo {
    display: block;
    widtH: 100px; }
    @media (max-width: 992px) {
      footer .logo {
        display: none; } }
