.radio-input-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media (max-width: 767.97px) {
    overflow-y: scroll;
    flex-wrap: nowrap;
  }
  &::-moz-viewport-scroll {
    display: none;
  }
  &::-webkit-scrollbar {
  display: none;
}
}