@import 'variables.scss';


.rubber {
  background-color: $onyx;
  .rubber-image {
    padding-left: 0;
    img {
      width: 100%;
      padding: 0 5px;
    }
    @media (max-width: 992px) {
      display: none;
    }
  }
  .rubber-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 992px) {
    padding-top: 30px;
    padding-bottom: 35px;
  }
}

.rubber-type {
  color: $gray;
  border-bottom: 1px solid $light-gray;
  border-top: 1px solid $light-gray;
  padding: 15px 0;

  .rubber-name {
    font-size: $text14;
  }

  .rubber-params {
    display: flex;
    justify-content: space-between;

  }

  .bar-title {
    font-size: $text12;
    color: $gray;
  }
  .bar {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    div {
      content: '';
      height: 15px;
      &:last-child {
        background-color: $light-gray;
      }
    }
  }
}

.rubber-type:last-of-type {
  margin-bottom: 30px;
}
