@import 'variables.scss';


.rubber {
  background-color: $onyx;
  .rubber-image {
    padding-left: 0;
    img {
      width: 100%;
      padding: 0 5px;
    }
    @media (max-width: 992px) {
      display: none;
    }
  }
  .rubber-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 992px) {
    padding-top: 30px;
    padding-bottom: 35px;
  }
  
}
