$orange: #ff7f18;
$gray: #6f7983;
$light-gray: #dadfe5;
$border-color: #eeeeee;
$onyx: #05080c;
$text-color: #fff;
$green: #15d78c;
$snow: #F9F9F9;
$text16: 16px;
$text18: 18px;
$text24: 24px;
$text14: 14px;
$text12: 12px;
$line-height: 1.8;
