@import '../../scss/variables.scss';

.banner {
  background-image: -webkit-linear-gradient(90deg, $onyx 50%, #fff 50%);
  padding: 60px 5px;
  box-shadow: 0 0 0 -8px $onyx;

  @media (max-width: 767.97px) {
    padding: 40px 1px 20px 1px;
  }
  @media (max-width: 425px) {
    padding-top: 30px;
    padding-bottom: 0;
  }

  img {
    width: 100%;
    height: auto;
    @media (max-width: 767.97px) {
      width: 100%;
    }
  }

  .no-paddings {
    padding-left: 0!important;
    padding-right:  0!important;
  }

}